CREATE DATABASE [200106]
GO
USE [200106]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceTypes]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_ServiceTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreItemCategory]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreItemCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_StoreItemCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarManufacturers]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarManufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CarManufacturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[PasswordSalt] [nvarchar](max) NOT NULL,
	[Image] [varbinary](max) NULL,
	[RoleId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[CarPartsShop_WorkDaysAsString] [nvarchar](max) NULL,
	[CarPartsShop_OpeningTime] [time](7) NULL,
	[CarPartsShop_ClosingTime] [time](7) NULL,
	[CarPartsShop_WorkingHours] [time](7) NULL,
	[WorkDaysAsString] [nvarchar](max) NULL,
	[OpeningTime] [time](7) NULL,
	[ClosingTime] [time](7) NULL,
	[WorkingHours] [time](7) NULL,
	[Employees] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_Users_Cities] FOREIGN KEY ([CityId]) REFERENCES [dbo].[Cities]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_Users_Roles] FOREIGN KEY ([RoleId]) REFERENCES [dbo].[Roles]([Id]) ON DELETE CASCADE
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthTokens]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[UserId] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Revoked] [datetime2](7) NULL,
 CONSTRAINT [PK_AuthTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_AuthTokens_Users] FOREIGN KEY ([UserId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarModels]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarManufacturerId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ModelYear] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CarModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_CarModels_CarManufacturers] FOREIGN KEY ([CarManufacturerId]) REFERENCES [dbo].[CarManufacturers]([Id]) ON DELETE CASCADE
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarPartsShopClientDiscounts]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarPartsShopClientDiscounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [float] NOT NULL,
	[CarPartsShopId] [int] NOT NULL,
	[ClientId] [int] NULL,
	[CarRepairShopId] [int] NULL,
	[Created] [datetime2](7) NOT NULL,
	[Revoked] [datetime2](7) NULL,
	[SoftDelete] [bit] NULL,
 CONSTRAINT [PK_CarPartsShopClientDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_CarPartsShopClientDiscounts_Users_CarPartsShopId] FOREIGN KEY ([CarPartsShopId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_CarPartsShopClientDiscounts_Users_ClientId] FOREIGN KEY ([ClientId]) REFERENCES [dbo].[Users]([Id]) ON DELETE NO ACTION,
 CONSTRAINT [FK_CarPartsShopClientDiscounts_Users_CarRepairShopId] FOREIGN KEY ([CarRepairShopId]) REFERENCES [dbo].[Users]([Id]) ON DELETE NO ACTION
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarRepairShopDiscounts]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarRepairShopDiscounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarRepairShopId] [int] NOT NULL,
	[Value] [float] NOT NULL,
	[ClientId] [int] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Revoked] [datetime2](7) NULL,
	[SoftDelete] [bit] NULL,
 CONSTRAINT [PK_CarRepairShopDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_CarRepairShopDiscounts_Users_ClientId] FOREIGN KEY ([ClientId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_CarRepairShopDiscounts_Users_CarRepairShopId] FOREIGN KEY ([CarRepairShopId]) REFERENCES [dbo].[Users]([Id]) ON DELETE NO ACTION
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarRepairShopServices]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarRepairShopServices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarRepairShopId] [int] NOT NULL,
	[ServiceTypeId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[DiscountedPrice] [float] NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[ImageData] [varbinary](max) NULL,
	[Details] [nvarchar](max) NULL,
	[Duration] [time](7) NOT NULL,
 CONSTRAINT [PK_CarRepairShopServices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_CarRepairShopServices_Users_CarRepairShopId] FOREIGN KEY ([CarRepairShopId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_CarRepairShopServices_ServiceTypes] FOREIGN KEY ([ServiceTypeId]) REFERENCES [dbo].[ServiceTypes]([Id]) ON DELETE CASCADE
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [int] NOT NULL,
	[RecipientUserId] [int] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_ChatMessages_Users_SenderUserId] FOREIGN KEY ([SenderUserId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_ChatMessages_Users_RecipientUserId] FOREIGN KEY ([RecipientUserId]) REFERENCES [dbo].[Users]([Id]) ON DELETE NO ACTION
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreItems]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[DiscountedPrice] [float] NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[ImageData] [varbinary](max) NULL,
	[Details] [nvarchar](max) NULL,
	[CarPartsShopId] [int] NOT NULL,
	[StoreItemCategoryId] [int] NULL,
 CONSTRAINT [PK_StoreItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_StoreItems_Users_CarPartsShopId] FOREIGN KEY ([CarPartsShopId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_StoreItems_StoreItemCategory] FOREIGN KEY ([StoreItemCategoryId]) REFERENCES [dbo].[StoreItemCategory]([Id]) ON DELETE CASCADE
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarPartsShopId] [int] NOT NULL,
	[CarRepairShopId] [int] NULL,
	[ClientId] [int] NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ShippingDate] [datetime2](7) NULL,
	[TotalAmount] [float] NOT NULL,
	[ClientDiscountId] [int] NULL,
	[State] [nvarchar](max) NOT NULL,
	[CityId] [int] NOT NULL,
	[ShippingAddress] [nvarchar](max) NOT NULL,
	[ShippingPostalCode] [nvarchar](max) NOT NULL,
	[PaymentIntentId] [nvarchar](max) NULL,
	[DeletedByShop] [bit] NOT NULL,
	[DeletedByCustomer] [bit] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_Orders_Users_CarPartsShopId] FOREIGN KEY ([CarPartsShopId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_Orders_Users_ClientId] FOREIGN KEY ([ClientId]) REFERENCES [dbo].[Users]([Id]) ON DELETE NO ACTION,
 CONSTRAINT [FK_Orders_Users_CarRepairShopId] FOREIGN KEY ([CarRepairShopId]) REFERENCES [dbo].[Users]([Id]) ON DELETE NO ACTION,
 CONSTRAINT [FK_Orders_ClientDiscounts] FOREIGN KEY ([ClientDiscountId]) REFERENCES [dbo].[CarPartsShopClientDiscounts]([Id]) ON DELETE NO ACTION,
 CONSTRAINT [FK_Orders_Cities] FOREIGN KEY ([CityId]) REFERENCES [dbo].[Cities]([Id]) ON DELETE NO ACTION
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[StoreItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [float] NOT NULL,
	[TotalItemsPrice] [float] NOT NULL,
	[TotalItemsPriceDiscounted] [float] NOT NULL,
	[Discount] [float] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Orders]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_OrderDetails_StoreItems] FOREIGN KEY ([StoreItemId]) REFERENCES [dbo].[StoreItems]([Id]) ON DELETE NO ACTION
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarRepairShopId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[OrderId] [int] NULL,
	[ClientOrder] [bit] NULL,
	[ReservationCreatedDate] [datetime2](7) NOT NULL,
	[ReservationDate] [datetime2](7) NOT NULL,
	[EstimatedCompletionDate] [datetime2](7) NULL,
	[CompletionDate] [datetime2](7) NULL,
	[TotalAmount] [float] NOT NULL,
	[CarModelId] [int] NOT NULL,
	[TotalDuration] [time](7) NOT NULL,
	[CarRepairShopDiscountId] [int] NULL,
	[State] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[PaymentIntentId] [nvarchar](max) NULL,
	[DeletedByShop] [bit] NOT NULL,
	[DeletedByCustomer] [bit] NOT NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_Reservations_Users_CarRepairShopId] FOREIGN KEY ([CarRepairShopId]) REFERENCES [dbo].[Users]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_Reservations_Users_ClientId] FOREIGN KEY ([ClientId]) REFERENCES [dbo].[Users]([Id]) ON DELETE NO ACTION,
 CONSTRAINT [FK_Reservations_Orders] FOREIGN KEY ([OrderId]) REFERENCES [dbo].[Orders]([Id]) ON DELETE NO ACTION,
 CONSTRAINT [FK_Reservations_CarModels] FOREIGN KEY ([CarModelId]) REFERENCES [dbo].[CarModels]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_Reservations_CarRepairShopDiscounts] FOREIGN KEY ([CarRepairShopDiscountId]) REFERENCES [dbo].[CarRepairShopDiscounts]([Id]) ON DELETE NO ACTION
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationDetails]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NOT NULL,
	[CarRepairShopServiceId] [int] NOT NULL,
	[ServiceName] [nvarchar](max) NOT NULL,
	[ServicePrice] [float] NOT NULL,
	[ServiceDiscount] [float] NOT NULL,
	[ServiceDiscountedPrice] [float] NOT NULL,
 CONSTRAINT [PK_ReservationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_ReservationDetails_Reservations] FOREIGN KEY ([ReservationId]) REFERENCES [dbo].[Reservations]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_ReservationDetails_CarRepairShopServices] FOREIGN KEY ([CarRepairShopServiceId]) REFERENCES [dbo].[CarRepairShopServices]([Id]) ON DELETE NO ACTION
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreItemCarModels]    Script Date: 05/11/2024 02:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreItemCarModels](
	[StoreItemId] [int] NOT NULL,
	[CarModelId] [int] NOT NULL,
 CONSTRAINT [PK_StoreItemCarModels] PRIMARY KEY CLUSTERED 
(
	[StoreItemId] ASC,
	[CarModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [FK_StoreItemCarModels_StoreItems] FOREIGN KEY ([StoreItemId]) REFERENCES [dbo].[StoreItems]([Id]) ON DELETE CASCADE,
 CONSTRAINT [FK_StoreItemCarModels_CarModels] FOREIGN KEY ([CarModelId]) REFERENCES [dbo].[CarModels]([Id]) ON DELETE CASCADE
) ON [PRIMARY]
GO
/******INSERT******/

SET IDENTITY_INSERT [dbo].[Roles] ON 
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (1, N'admin', NULL)
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (2, N'client', NULL)
INSERT [dbo].[Roles] ([Id], [Name], [Description]) VALUES (3, N'carrepairshop', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO

SET IDENTITY_INSERT [dbo].[ServiceTypes] ON 
SET IDENTITY_INSERT [dbo].[ServiceTypes] OFF
GO

SET IDENTITY_INSERT [dbo].[StoreItemCategory] ON 
INSERT [dbo].[StoreItemCategory] ([Id], [Name]) VALUES (1, N'Brakes')
INSERT [dbo].[StoreItemCategory] ([Id], [Name]) VALUES (2, N'Engine Parts')
INSERT [dbo].[StoreItemCategory] ([Id], [Name]) VALUES (3, N'Suspension')
SET IDENTITY_INSERT [dbo].[StoreItemCategory] OFF
GO

SET IDENTITY_INSERT [dbo].[CarManufacturers] ON 
INSERT [dbo].[CarManufacturers] ([Id], [Name]) VALUES (1, N'Volkswagen')
INSERT [dbo].[CarManufacturers] ([Id], [Name]) VALUES (2, N'Toyota')
INSERT [dbo].[CarManufacturers] ([Id], [Name]) VALUES (3, N'Ford')
SET IDENTITY_INSERT [dbo].[CarManufacturers] OFF
GO

SET IDENTITY_INSERT [dbo].[Cities] ON 
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (1, N'Mostar')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (2, N'Sarajevo')
INSERT [dbo].[Cities] ([Id], [Name]) VALUES (3, N'Banja Luka')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO

SET IDENTITY_INSERT [dbo].[Users] ON 
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

SET IDENTITY_INSERT [dbo].[CarModels] ON 
INSERT [dbo].[CarModels] ([Id], [CarManufacturerId], [Name], [ModelYear]) VALUES (1, 1, N'Golf Mk4', N'1997-2003')
INSERT [dbo].[CarModels] ([Id], [CarManufacturerId], [Name], [ModelYear]) VALUES (2, 1, N'Passat B5/B5.5', N'1996-2005')
INSERT [dbo].[CarModels] ([Id], [CarManufacturerId], [Name], [ModelYear]) VALUES (3, 1, N'Passat B2', N'1981-1988')
SET IDENTITY_INSERT [dbo].[CarModels] OFF
GO

SET IDENTITY_INSERT [dbo].[CarPartsShopClientDiscounts] ON 
INSERT [dbo].[CarPartsShopClientDiscounts] ([Id], [Value], [CarPartsShopId], [ClientId], [CarRepairShopId], [Created], [Revoked], [SoftDelete]) VALUES (1, 0.1, 2, 4, NULL, CAST(N'2024-11-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-11-01T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[CarPartsShopClientDiscounts] ([Id], [Value], [CarPartsShopId], [ClientId], [CarRepairShopId], [Created], [Revoked], [SoftDelete]) VALUES (2, 0.15, 2, 4, NULL, CAST(N'2024-11-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-11-02T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[CarPartsShopClientDiscounts] ([Id], [Value], [CarPartsShopId], [ClientId], [CarRepairShopId], [Created], [Revoked], [SoftDelete]) VALUES (3, 0.2, 2, NULL, 3, CAST(N'2024-11-01T00:00:00.0000000' AS DateTime2), CAST(N'2024-11-01T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CarPartsShopClientDiscounts] OFF
GO

SET IDENTITY_INSERT [dbo].[CarRepairShopDiscounts] ON 
INSERT [dbo].[CarRepairShopDiscounts] ([Id], [CarRepairShopId], [Value], [ClientId], [Created], [Revoked], [SoftDelete]) VALUES (1, 3, 0.05, 4, CAST(N'2024-11-04T00:00:00.0000000' AS DateTime2), CAST(N'2024-11-04T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[CarRepairShopDiscounts] ([Id], [CarRepairShopId], [Value], [ClientId], [Created], [Revoked], [SoftDelete]) VALUES (2, 3, 0.02, 4, CAST(N'2024-11-04T00:00:00.0000000' AS DateTime2), NULL, NULL)
INSERT [dbo].[CarRepairShopDiscounts] ([Id], [CarRepairShopId], [Value], [ClientId], [Created], [Revoked], [SoftDelete]) VALUES (3, 3, 0.2, 5, CAST(N'2024-11-04T00:00:00.0000000' AS DateTime2), CAST(N'2024-11-04T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CarRepairShopDiscounts] OFF
GO
SET IDENTITY_INSERT [dbo].[CarRepairShopServices] ON 

INSERT [dbo].[CarRepairShopServices] ([Id], [CarRepairShopId], [ServiceTypeId], [Name], [Price], [Discount], [DiscountedPrice], [State], [ImageData], [Details], [Duration]) VALUES (1, 3, 1, N'Front Brakes Repair', 50, 0.05, 47.5, N'active', NULL, N'Full front brake repair. Discs and pads.', CAST(N'02:00:00' AS Time))
INSERT [dbo].[CarRepairShopServices] ([Id], [CarRepairShopId], [ServiceTypeId], [Name], [Price], [Discount], [DiscountedPrice], [State], [ImageData], [Details], [Duration]) VALUES (2, 3, 1, N'Rear Brakes Repair', 40, 0, 40, N'active', NULL, N'Rear brake repair service (discs, pads, drums, handbrakes).', CAST(N'01:00:00' AS Time))
INSERT [dbo].[CarRepairShopServices] ([Id], [CarRepairShopId], [ServiceTypeId], [Name], [Price], [Discount], [DiscountedPrice], [State], [ImageData], [Details], [Duration]) VALUES (3, 3, 1, N'Tire Replacement', 30, 0, 30, N'active', NULL, N'Tire replacement and balancing.', CAST(N'01:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[CarRepairShopServices] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 
INSERT [dbo].[ChatMessages] ([Id], [SenderUserId], [RecipientUserId], [Message], [SentAt]) VALUES (1, 4, 1, N'test', CAST(N'2024-11-02T00:20:02.9852424' AS DateTime2))
INSERT [dbo].[ChatMessages] ([Id], [SenderUserId], [RecipientUserId], [Message], [SentAt]) VALUES (2, 3, 2, N'Hello', CAST(N'2024-11-04T01:57:45.7319688' AS DateTime2))
INSERT [dbo].[ChatMessages] ([Id], [SenderUserId], [RecipientUserId], [Message], [SentAt]) VALUES (3, 2, 3, N'Hi', CAST(N'2024-11-04T01:59:40.7060301' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO

SET IDENTITY_INSERT [dbo].[StoreItems] ON  
INSERT [dbo].[StoreItems] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [State], [ImageData], [Details], [CarPartsShopId], [StoreItemCategoryId]) VALUES (1, N'EBC-Turbo Discs', 350, 0, 350, N'active', 0x, N'The Turbo Groove Discs have unique wide slots which help cool the discs and brake pads alike, and together with the blind drilled dimples help clear surface gases without affecting the structure of the disc unlike through drilled discs.', 2, 1)
INSERT [dbo].[StoreItems] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [State], [ImageData], [Details], [CarPartsShopId], [StoreItemCategoryId]) VALUES (2, N'Front Brake Pads', 120, 0.1, 108, N'active', 0x, N'Black Diamond discs. These award winning brake discs are made to the most exacting standards using computer aided design and computerised production.', 2, 1)
INSERT [dbo].[StoreItems] ([Id], [Name], [Price], [Discount], [DiscountedPrice], [State], [ImageData], [Details], [CarPartsShopId], [StoreItemCategoryId]) VALUES (3, N'OEM-R32 Brembo', 400, 0, 400, N'active', 0x, N'Pair of Mk4 Golf R32 334mm x 32mm Front Brake Discs. Mk4 Golf R32 Front Brake Disc Set - 334mm x 32mm. These are replacement discs for Mk4 Golf R32, or vehicles running this brake set up with 334mm front brake discs. This Kit Consists of: LH Brake Disc, RH Brake Disc.', 2, 1)
SET IDENTITY_INSERT [dbo].[StoreItems] OFF
GO

SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([Id], [CarPartsShopId], [CarRepairShopId], [ClientId], [OrderDate], [ShippingDate], [TotalAmount], [ClientDiscountId], [State], [CityId], [ShippingAddress], [ShippingPostalCode], [PaymentIntentId], [DeletedByShop], [DeletedByCustomer]) VALUES (1, 2, 3, NULL, CAST(N'2024-11-05T00:00:00.0000000' AS DateTime2), CAST(N'2024-12-06T00:00:00.0000000' AS DateTime2), 804.75, 4, N'accepted', 1, N'Kralja Tvrtka I bb', N'80101', NULL, 0, 0)
INSERT [dbo].[Orders] ([Id], [CarPartsShopId], [CarRepairShopId], [ClientId], [OrderDate], [ShippingDate], [TotalAmount], [ClientDiscountId], [State], [CityId], [ShippingAddress], [ShippingPostalCode], [PaymentIntentId], [DeletedByShop], [DeletedByCustomer]) VALUES (2, 2, 3, NULL, CAST(N'2024-11-05T00:00:00.0000000' AS DateTime2), CAST(N'2024-12-01T00:00:00.0000000' AS DateTime2), 1718.25, 4, N'accepted', 1, N'Kralja Tvrtka I bb', N'80101', NULL, 0, 0)
INSERT [dbo].[Orders] ([Id], [CarPartsShopId], [CarRepairShopId], [ClientId], [OrderDate], [ShippingDate], [TotalAmount], [ClientDiscountId], [State], [CityId], [ShippingAddress], [ShippingPostalCode], [PaymentIntentId], [DeletedByShop], [DeletedByCustomer]) VALUES (3, 2, NULL, 4, CAST(N'2024-11-05T00:00:00.0000000' AS DateTime2), NULL, 1979.25, 2, N'rejected', 1, N'Kralja Tvrtka I bb', N'80101', NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO

SET IDENTITY_INSERT [dbo].[OrderDetails] ON 
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [StoreItemId], [Quantity], [UnitPrice], [TotalItemsPrice], [TotalItemsPriceDiscounted], [Discount]) VALUES (1, 1, 1, 2, 350, 700, 700, 0)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [StoreItemId], [Quantity], [UnitPrice], [TotalItemsPrice], [TotalItemsPriceDiscounted], [Discount]) VALUES (2, 1, 2, 1, 250, 250, 225, 0.1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [StoreItemId], [Quantity], [UnitPrice], [TotalItemsPrice], [TotalItemsPriceDiscounted], [Discount]) VALUES (3, 2, 1, 5, 350, 1750, 1750, 0)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO

SET IDENTITY_INSERT [dbo].[Reservations] ON 
INSERT [dbo].[Reservations] ([Id], [CarRepairShopId], [ClientId], [OrderId], [ClientOrder], [ReservationCreatedDate], [ReservationDate], [EstimatedCompletionDate], [CompletionDate], [TotalAmount], [CarModelId], [TotalDuration], [CarRepairShopDiscountId], [State], [Type], [PaymentIntentId], [DeletedByShop], [DeletedByCustomer]) VALUES (3, 3, 4, 16, 0, CAST(N'2024-11-10T01:32:13.0768911' AS DateTime2), CAST(N'2024-12-07T00:00:00.0000000' AS DateTime2), NULL, NULL, 47.5, 1, CAST(N'02:00:00' AS Time), NULL, N'rejected', N'Repairs', N'pi_3QGVGH2M5E7IFmhL1DISTPsY', 0, 0)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO

SET IDENTITY_INSERT [dbo].[ReservationDetails] ON 
INSERT [dbo].[ReservationDetails] ([Id], [ReservationId], [CarRepairShopServiceId], [ServiceName], [ServicePrice], [ServiceDiscount], [ServiceDiscountedPrice]) VALUES (1, 1, 14, N'Battery Health Check', 25, 0, 25)
INSERT [dbo].[ReservationDetails] ([Id], [ReservationId], [CarRepairShopServiceId], [ServiceName], [ServicePrice], [ServiceDiscount], [ServiceDiscountedPrice]) VALUES (2, 1, 15, N'Brake System Diagnostic', 30, 0, 30)
INSERT [dbo].[ReservationDetails] ([Id], [ReservationId], [CarRepairShopServiceId], [ServiceName], [ServicePrice], [ServiceDiscount], [ServiceDiscountedPrice]) VALUES (3, 1, 18, N'Electrical System Diagnostic', 40, 0, 40)
SET IDENTITY_INSERT [dbo].[ReservationDetails] OFF
GO

INSERT [dbo].[StoreItemCarModels] ([StoreItemId], [CarModelId]) VALUES (1, 1)
INSERT [dbo].[StoreItemCarModels] ([StoreItemId], [CarModelId]) VALUES (3, 1)
INSERT [dbo].[StoreItemCarModels] ([StoreItemId], [CarModelId]) VALUES (5, 1)
GO